# ==========================================
# HONEYWIRE SENSOR: TCP TARPIT
# ==========================================

# --- CORE ECOSYSTEM SETTINGS (Required) ---
# Where is the Hub located? (Use your Hub's IP if on a different machine)
HW_HUB_ENDPOINT=http://127.0.0.1:8080

# Must match the Hub's HW_HUB_KEY
HW_HUB_KEY=super_secret_key_123

# Unique name for this specific sensor
HW_SENSOR_ID=ubuntu-vps-01

# Alert Severity: 1-5 OR info|low|medium|high|critical
HW_SEVERITY=high


# --- SENSOR SPECIFIC SETTINGS ---
# The fake ports this agent will listen on
HW_DECOY_PORTS=21,2222,3306

# Modes: 'echo' (repeat data), 'hold' (do nothing, keep open), 'close' (drop immediately)
HW_TARPIT_MODE=hold

# The fake service banner. 
# Example for SSH: SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.1\r\n
# Example for FTP: 220 (vsFTPd 3.0.3)\r\n
HW_TARPIT_BANNER=SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.1\r\n