# ==========================================
# HONEYWIRE SENSOR: TCP TARPIT
# ==========================================

# --- CORE ECOSYSTEM SETTINGS (Required) ---
HW_HUB_ENDPOINT=http://192.168.1.100:8080
HW_HUB_KEY=change_this_to_a_secure_random_string
HW_SENSOR_ID=TripWire-01
HW_SEVERITY=high

# --- SENSOR SPECIFIC SETTINGS ---
# The fake ports this agent will listen on (Comma-separated)
HW_DECOY_PORTS=21,2222,3306

# Modes: 'echo' (repeat data), 'hold' (do nothing, keep open), 'close' (drop immediately)
HW_TARPIT_MODE=hold

# The fake service banner to send upon connection
HW_TARPIT_BANNER=SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.1\r\n