# --- HONEYWIRE SENSOR CONFIGURATION ---

# Hub Connection
HW_HUB_ENDPOINT=http://172.17.0.1:8080
HW_HUB_KEY=change_this_to_a_secure_random_string
HW_SENSOR_ID=file-canary-01
HW_SEVERITY=critical

# --- SENSOR-SPECIFIC CONFIGURATION ---

# The physical path on your host machine you want to use as the trap
# Example: ./trap_directory OR /etc/fake_ssh_keys
TRAP_PATH=./trap_directory

