# Where is the Hub located? (Use your Hub's public/LAN IP if on a different machine)
HUB_URL=http://127.0.0.1:8080

# Must match the Hub's secret
API_SECRET=super_secret_key_123

# Unique name and IP for this specific sensor
SENSOR_ID=ubuntu-vps-02
SENSOR_IP=192.168.1.51

# The fake ports this agent will listen on
DECOY_PORTS=21,2222,3306

# Modes: 'echo' (repeat data), 'hold' (do nothing, keep open), 'close' (drop immediately)
TARPIT_MODE=hold

# The fake service banner. 
# Example for SSH: SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.1\r\n
# Example for FTP: 220 (vsFTPd 3.0.3)\r\n
TARPIT_BANNER=SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.1\r\n